# Project: Wrangling and Analyze Data

## Data Gathering
In the cell below, gather **all** three pieces of data for this project and load them in the notebook. **Note:** the methods required to gather each data are different.
1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [8]:
import tweepy
import pandas as pd
import numpy as np
import requests
import re
import json

df_1 = pd.read_csv('twitter_archive_enhanced.csv')
df_1.sample(25)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
289,838201503651401729,NaN,NaN,2017-03-05 01:36:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Sunny. He can take down a ...,8.207497e+17,4.196984e+09,2017-01-15 21:49:15 +0000,https://twitter.com/dog_rates/status/820749716...,13,10,Sunny,None,None,None,None
1457,695095422348574720,NaN,NaN,2016-02-04 04:03:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is just a beautiful pupper good shit evol...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/695095422...,12,10,just,None,None,pupper,None
1270,709449600415961088,NaN,NaN,2016-03-14 18:42:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Karma. She's just a head. Lost body durin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/709449600...,10,10,Karma,None,None,None,None
654,791821351946420224,NaN,NaN,2016-10-28 01:58:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This little fella really hates ...,6.848310e+17,4.196984e+09,2016-01-06 20:16:44 +0000,"https://vine.co/v/eEZXZI1rqxX,https://vine.co/...",13,10,None,None,None,pupper,None
1286,708400866336894977,NaN,NaN,2016-03-11 21:15:02 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",RT if you are as ready for summer as this pup ...,NaN,NaN,NaN,https://vine.co/v/iHFqnjKVbIQ,12,10,None,None,None,None,None
346,831926988323639298,8.319030e+17,20683724.0,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1610,685532292383666176,NaN,NaN,2016-01-08 18:43:29 +0000,"<a href=""http://twitter.com/download/iphone"" r...","For the last time, WE. DO. NOT. RATE. BULBASAU...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/685532292...,9,10,None,None,None,None,None
595,798701998996647937,NaN,NaN,2016-11-16 01:39:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: We normally don't rate marshmal...,7.186315e+17,4.196984e+09,2016-04-09 02:47:55 +0000,https://twitter.com/dog_rates/status/718631497...,10,10,None,None,None,None,None
1997,672591271085670400,NaN,NaN,2015-12-04 01:40:29 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Lots of pups here. All are Judea Hazelnuts. Ex...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672591271...,8,10,None,None,None,None,None
844,766693177336135680,NaN,NaN,2016-08-19 17:47:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Brudge. He's a Doberdog. Going to be h...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/766693177...,11,10,Brudge,None,None,None,None
1090,737678689543020544,NaN,NaN,2016-05-31 16:14:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We only rate dogs. Pls stop sending in non-can...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/737678689...,11,10,None,None,None,None,None
548,805487436403003392,NaN,NaN,2016-12-04 19:02:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sansa and Gary. They run along the fence ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/805487436...,12,10,Sansa,None,None,None,None
546,805823200554876929,NaN,NaN,2016-12-05 17:16:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Reginald. He's one magi...,7.841832e+17,4.196984e+09,2016-10-07 00:06:50 +0000,"https://vine.co/v/5ghHLBMMdlV,https://vine.co/...",12,10,Reginald,None,None,None,puppo
114,870656317836468226,NaN,NaN,2017-06-02 15:00:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cody. He zoomed too aggressively and t...,NaN,NaN,NaN,https://www.gofundme.com/help-fix-codys-torn-a...,13,10,Cody,None,None,None,None
1811,676819651066732545,NaN,NaN,2015-12-15 17:42:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Watch out Airbud. This pupper is also good at ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/676819651...,12,10,None,None,None,pupper,None
2092,670782429121134593,NaN,NaN,2015-11-29 01:52:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This dude slaps your girl's ass what do you do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670782429...,5,10,None,None,None,None,None
1797,677269281705472000,NaN,NaN,2015-12-16 23:29:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest pupper I've ever seen. 10...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677269281...,10,10,the,None,None,pupper,None
780,775733305207554048,NaN,NaN,2016-09-13 16:30:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Anakin. He strives to reach his full d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/775733305...,11,10,Anakin,doggo,None,None,None
444,819238181065359361,NaN,NaN,2017-01-11 17:42:57 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Some happy pupper news to share. 10/10 for eve...,NaN,NaN,NaN,http://us.blastingnews.com/news/2017/01/200-do...,10,10,None,None,None,pupper,None
510,812372279581671427,NaN,NaN,2016-12-23 19:00:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Moe. He's a fetty woof. Got a cardboar...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/812372279...,13,10,Moe,None,None,None,None
1992,672614745925664768,NaN,NaN,2015-12-04 03:13:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Norman. Doesn't bark much. Very docile...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672614745...,6,10,Norman,None,None,pupper,None
2006,672267570918129665,NaN,NaN,2015-12-03 04:14:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you accidentally open up the front facing...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672267570...,10,10,None,None,None,None,None
110,871102520638267392,NaN,NaN,2017-06-03 20:33:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Never doubt a doggo 14/10 https://t.co/AbBLh2FZCH,NaN,NaN,NaN,https://twitter.com/animalcog/status/871075758...,14,10,None,doggo,None,None,None
472,816450570814898180,NaN,NaN,2017-01-04 01:05:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Moose. He doesn't want his friend to go b...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/816450570...,13,10,Moose,None,None,None,None
1115,732726085725589504,NaN,NaN,2016-05-18 00:14:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Aldrick. He looks wise af. Also except...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/732726085...,11,10,Aldrick,None,None,None,None

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [7]:
# Use requests library to download tsv file from a website
import requests
url="https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
response = requests.get(url)

with open('image_predictions.tsv', 'wb') as file:
    file.write(response.content)

   #get tsv into pandas DF form called image_pred 
image_pred = pd.read_csv('image_predictions.tsv', sep='\t')
image_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [3]:
# I have replaced Personal API keys, secrets, and tokens with placeholders
access_token = 'MY ACCESS TOKEN'
access_secret = 'MY ACCESS SECRET'
consumer_key = 'MY CONSUMER KEY'
consumer_secret = 'MY CONSUMER SECRET'

# I have created variables or tweepy query
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth, wait_on_rate_limit = True)


# For loop made will add each available tweet to a new line of tweet_json.txt
with open('tweet_json.txt', 'a', encoding='utf8') as f:
    for tweet_id in df_1['tweet_id']:
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            json.dump(tweet._json, f)
            f.write('\n')
        except:
            continue

In [9]:
# For loop to append each tweet into a list
tweets_data = []

tweet_file = open('tweet_json.txt', "r")

for line in tweet_file:
    try:
        tweet = json.loads(line)
        tweets_data.append(tweet)
    except:
        continue
        
tweet_file.close()

# Create tweet_info DataFrame
df_tweet = pd.DataFrame()

# add in variables we want to df
df_tweet['id'] = list(map(lambda tweet: tweet['id'], tweets_data))
df_tweet['retweet_count'] = list(map(lambda tweet: tweet['retweet_count'], tweets_data))
df_tweet['favorite_count'] = list(map(lambda tweet: tweet['favorite_count'], tweets_data))
df_tweet.head(4)

Empty DataFrame
Columns: [id, retweet_count, favorite_count]
Index: []

## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

### Quality issues
1. We want to remove retweets as we only want original ratings - retweets may skew our results 

2. Many dog names have None - need to replace this with NaN

3. The ID fields e.g. tweet_id, should be objects, not integers or floats because they are not numeric and aren't intended to perform calculations.

4. Dog Names has many names that are not names, many are lowercase eg 'a' and 'the' and need to be removed

5. We want to remove any reply tweets as we are only interested in orginal tweets

6. The time stamp column is in string format, it's the wrong data type - convert to date time format

7. Some tweets have rating denominators that do not equal 10 - these need to be removed

8. Tweet with ID 810984652412424192 does not have a rating and therefore needs to be removed

### Tidiness issues
1. The 'type' of dog (doggo / floofer / pupper / puppo) are all variables that have their own column. This needs to be fixed under a single variable / column named 'stage'.

2. the data sets need merging - combine tweet_df and image_predictions to twitter_archive table (df_1).

## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [10]:
# Make copies of original pieces of data
df_1_clean = df_1.copy()
image_pred_clean = image_pred.copy()
df_tweet_clean = df_tweet.copy()

#### Issue #1 tidy:

#### Define  The 'type' of dog (doggo / floofer / pupper / puppo) are all variables that have their own column. This needs to be fixed under a single variable / column named 'stage'.

#### Code

In [11]:
df_1_clean = df_1_clean
df_1_clean.doggo.replace('None', '', inplace=True)
df_1_clean.floofer.replace('None', '', inplace=True)
df_1_clean.pupper.replace('None', '', inplace=True)
df_1_clean.puppo.replace('None', '', inplace=True)

df_1_clean['stage'] = df_1_clean.doggo + df_1_clean.floofer + df_1_clean.pupper + df_1_clean.puppo
df_1_clean.loc[df_1_clean.stage == 'doggopupper', 'stage'] = 'doggo,pupper'
df_1_clean.loc[df_1_clean.stage == 'doggofloofer', 'stage'] = 'doggo,floofer'
df_1_clean.loc[df_1_clean.stage == 'doggopuppo', 'stage'] = 'doggo,puppo'
df_1_clean.loc[df_1_clean.stage == 'doggopupper', 'stage'] = 'doggo,pupper'

df_1_clean.drop(['doggo', 'floofer', 'pupper', 'puppo'],  axis=1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,stage
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,

#### Test

In [12]:
df_1_clean.head(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,stage
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,,,,,
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,,,,,
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,,,,,
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,,,,,
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,,,,,

#### Issue #2 tidy:

#### Define  the data sets need merging - combine tweet_df and image_predictions to twitter_archive table.

#### Code

In [13]:
df_1_clean = pd.merge(left=df_1_clean, right=df_tweet_clean, left_on='tweet_id', right_on='id', how='inner')
df_1_clean = df_1_clean.merge(image_pred_clean, on='tweet_id', how='inner')
df_1_clean = df_1_clean.drop('id', axis=1)

#### Test

In [15]:
df_1_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   in_reply_to_status_id       0 non-null      float64
 1   in_reply_to_user_id         0 non-null      float64
 2   timestamp                   0 non-null      object
 3   source                      0 non-null      object
 4   text                        0 non-null      object
 5   retweeted_status_id         0 non-null      float64
 6   retweeted_status_user_id    0 non-null      float64
 7   retweeted_status_timestamp  0 non-null      object
 8   expanded_urls               0 non-null      object
 9   rating_numerator            0 non-null      int64
 10  rating_denominator          0 non-null      int64
 11  name                        0 non-null      object
 12  doggo                       0 non-null      object
 13  floofer                     0 non-null      object
 14  pupper                      0 non-null      object
 15  puppo                       0 non-null      object
 16  stage                       0 non-null      object
 17  retweet_count               0 non-null      float64
 18  favorite_count              0 non-null      float64
 19  tweet_id                    0 non-null      int64
 20  jpg_url                     0 non-null      object
 21  img_num                     0 non-null      int64
 22  p1                          0 non-null      object
 23  p1_conf                     0 non-null      float64
 24  p1_dog                      0 non-null      bool
 25  p2                          0 non-null      object
 26  p2_conf                     0 non-null      float64
 27  p2_dog                      0 non-null      bool
 28  p3                          0 non-null      object
 29  p3_conf                     0 non-null      float64
 30  p3_dog                      0 non-null      bool
dtypes: bool(3), float64(9), int64(4), object(15)
memory usage: 0.0+ bytes

### Issue #1:

#### Define: remove retweets - drop all rows which contain rewteets

#### Code

In [16]:
df_1_clean[df_1_clean['retweeted_status_id'].isnull()]

Empty DataFrame
Columns: [in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, stage, retweet_count, favorite_count, tweet_id, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

[0 rows x 31 columns]

#### Test

In [17]:
df_1_clean.sample(10)

ValueError: a must be greater than 0 unless no samples are taken

### Issue #2:

#### Define  2.  Many dog names have None - need to replace this with NaN

#### Code

In [34]:
import numpy as np
df_1_clean['name'] = df_1_clean['name'].replace('None', np.NaN)

#### Test

In [35]:
df_1_clean.sample(5)

ValueError: a must be greater than 0 unless no samples are taken

### Issue #3:

#### Define  The ID fields e.g. tweet_id, should be objects, not integers or floats because they are not numeric and aren't intended to perform calculations - so will convert these into object

#### Code

In [100]:
df_1_clean.astype({'tweet_id': 'object', 'in_reply_to_status_id': 'object',  'in_reply_to_user_id': 'object'})

#### Test

In [36]:
df_1_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   in_reply_to_status_id       0 non-null      float64
 1   in_reply_to_user_id         0 non-null      float64
 2   timestamp                   0 non-null      object
 3   source                      0 non-null      object
 4   text                        0 non-null      object
 5   retweeted_status_id         0 non-null      float64
 6   retweeted_status_user_id    0 non-null      float64
 7   retweeted_status_timestamp  0 non-null      object
 8   expanded_urls               0 non-null      object
 9   rating_numerator            0 non-null      int64
 10  rating_denominator          0 non-null      int64
 11  name                        0 non-null      object
 12  doggo                       0 non-null      object
 13  floofer                     0 non-null      object
 14  pupper                      0 non-null      object
 15  puppo                       0 non-null      object
 16  retweet_count               0 non-null      float64
 17  favorite_count              0 non-null      float64
 18  tweet_id                    0 non-null      int64
 19  jpg_url                     0 non-null      object
 20  img_num                     0 non-null      int64
 21  p1                          0 non-null      object
 22  p1_conf                     0 non-null      float64
 23  p1_dog                      0 non-null      bool
 24  p2                          0 non-null      object
 25  p2_conf                     0 non-null      float64
 26  p2_dog                      0 non-null      bool
 27  p3                          0 non-null      object
 28  p3_conf                     0 non-null      float64
 29  p3_dog                      0 non-null      bool
 30  stage                       0 non-null      object
dtypes: bool(3), float64(9), int64(4), object(15)
memory usage: 0.0+ bytes

#### Issue #4:

#### Define  Dog Names has many names that are not names, many are lowercase eg 'a' and 'the' and need to be removed

#### Code

In [132]:
#index for lower case names
lower_dog_name_index = df_1_clean[df_1_clean.name.str.islower()].index
#drop names
df_1_clean.drop(lower_dog_name_index, inplace=True)

#### Test

In [133]:
df_1_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

#### Issue #5:

#### Define  We want to remove any reply tweets as we are only interested in orginal tweets - drop rows with reply tweets

#### Code

In [7]:
df_1_clean = df_1_clean[df_1_clean.in_reply_to_status_id.isna()]

#### Test

In [8]:
print("number of reply tweets:  {}".format(sum(df_1_clean.in_reply_to_status_id.notnull())))

number of reply tweets:  0

#### Issue #6:

#### Define   The time stamp column is in string format, it's the wrong data type - convert to date time format

#### Code

In [11]:
df_1_clean['timestamp'] = pd.to_datetime(df_1_clean.timestamp)
df_1_clean['timestamp'] = df_1_clean.timestamp.dt.floor('s')

#### Test

In [12]:
df_1_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2278 entries, 0 to 2355
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2278 non-null   int64
 1   in_reply_to_status_id       0 non-null      float64
 2   in_reply_to_user_id         0 non-null      float64
 3   timestamp                   2278 non-null   datetime64[ns, UTC]
 4   source                      2278 non-null   object
 5   text                        2278 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2274 non-null   object
 10  rating_numerator            2278 non-null   int64
 11  rating_denominator          2278 non-null   int64
 12  name                        2278 non-null   object
 13  doggo                       2278 non-null   object
 14  floofer                     2278 non-null   object
 15  pupper                      2278 non-null   object
 16  puppo                       2278 non-null   object
 17  stage                       2278 non-null   object
dtypes: datetime64[ns, UTC](1), float64(4), int64(3), object(10)
memory usage: 338.1+ KB

#### Issue #7:

#### Define   Some tweets have rating denominators that do not equal 10 - these need to be removed

#### Code

In [14]:
df_1_clean = df_1_clean[df_1_clean.rating_denominator == 10]

#### Test

In [15]:
df_1_clean.rating_denominator.value_counts().sort_index(ascending = False)

10    2260
Name: rating_denominator, dtype: int64

#### Issue #8

#### Define  Tweet with ID 810984652412424192 does not have a rating and therefore needs to be removed

#### Code

In [16]:
df_1_clean = df_1_clean[df_1_clean.tweet_id != 810984652412424192]

#### Test

In [17]:
df_1_clean[df_1_clean.tweet_id == 810984652412424192]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo, stage]
Index: []

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

In [24]:
# Save cleaned DataFrame to csv file
df_1_clean.to_csv('twitter_archive_master.csv')

## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

In [27]:
# create a copy of the clean data to analyse
df_clean = df_1.copy()
df_clean.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
878,760656994973933572,NaN,NaN,2016-08-03 02:02:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Rose. Her face is stuck like that. 11/...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/760656994...,11,10,Rose,None,None,None,None
743,780459368902959104,NaN,NaN,2016-09-26 17:29:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Bear. Don't worry, he's not a real bea...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/780459368...,11,10,Bear,None,None,None,None
552,804413760345620481,NaN,NaN,2016-12-01 19:56:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Rusty. He's going D1 fo...,7.848260e+17,4.196984e+09,2016-10-08 18:41:19 +0000,https://twitter.com/dog_rates/status/784826020...,13,10,Rusty,None,None,None,None
2143,669970042633789440,NaN,NaN,2015-11-26 20:04:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Julio. He was one of the original Ring...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669970042...,10,10,Julio,None,None,None,None
1638,684188786104872960,NaN,NaN,2016-01-05 01:44:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Yo Boomer I'm taking a selfie, grab your stic...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684188786...,10,10,None,None,None,None,None

### Insights:
1. What is the most common stage for a dog?

2.

3.

#### Insight 1 - What is the most common stage for a dog?

In [29]:
df_clean.stage.value_counts()

AttributeError: 'DataFrame' object has no attribute 'stage'

### Visualization